<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

"In this notebook,Data Science Tools and Ecosystem are summarized"

Some of the most commonly used languages are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy

Data Science Tools
-----------------
Jupityer notebook
--------
Rstudio
-------------
Apache Spark
-------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [11]:
import pandas as pd

In [15]:
print("This will convert 200 min into hrs ")
h=200//60
m=200%60
print("Hours=",h)
print("Minutes=",m)

This will convert 200 min into hrs
Hours= 3
Minutes= 20

In [16]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 60

Hours= 1
Minutes= 0